<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Oops, Page Not Found.</p>
    
    <a href="/">Go back to safety</a>
  </body>
</html>
